body {
    font-size: 16px;
}

.nav-enlace {
    display: inline-block;
    background: black;
    color: white;
    padding: 3rem 21.2rem;
    text-decoration: none;
    font-size: 5rem;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.nav-enlace:hover {
background-color: blue;
}

.barratitulo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100rem;
    height: 100rem;
    border: 0.5rem dashed tomato;
}